<div class="container">
  <div class="row justify-content-center  d-flex align-items-center align-items-center">
    <div class="col-lg-5">
      <div class="card mt-5">
          <div class="card-body">
            <h5 class="card-title">Adicionar Pessoa</h5>

                <%= render 'form', pessoa: @pessoa %>
                <%= link_to 'Voltar', pessoas_path %>

            </div>
          </div>
        </div>
    </div>
</div>
